body {
    background-color: grey;
    height: 100%;
}

.container {
    display: grid;
    height: 100%;
    grid-template: 1fr 1fr 5fr 1fr/ 1fr 3fr;
    justify-content: center;
    gap: 15px;
}

.header, .sidebar, .nav, .article, .footer {
    border-radius: 10px;
    text-align: center;
    padding: 16px;
}

.header {
    background-color: darkgreen;
    grid-area: 1 / 1 / 2 / 3;
}

.sidebar {
    background-color: darkcyan;
    grid-area: 2 / 1 / 4 / 2;
}

.nav {
    background-color: purple;
    grid-area: 2 / 2 / 3 / 3;
}

.article {
    background-color: blueviolet;
    grid-area: 3 / 2 / 4 / 3;
}

.footer {
    background-color: darkgrey;
    grid-area: 4 / 1 / 5 / 3;
}