:root {
    --dark: #1F2937;
    --blue: #3882F6;
    --grey: #E5E7EB;
    --white: #F9FAF8;
    --black: #1F2937;
}

body {
    margin: 0;
    font-family: Roboto;
    color: var(--black);
}

.section, .footer {
    padding: 100px 550px;
}

.section.first, 
.footer {
    background-color: var(--dark);
}

.section.third {
    background-color: var(--grey);
}

.first, .footer {
    color: var(--white);
}

.quote p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote .author {
    text-align: end;
    font-weight: bold;
}

.signup-form {
    display: flex;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 5px;
    padding: 30px 80px;
    gap: 50px;
}

.signup-form > .right {
    text-align: center;
    align-content: center;
    flex: 1;
}

.signup-form button {
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 3px;
    padding: 5px 30px;
}

.footer {
    text-align: center;
    padding: 30px;
}