:root {
    --dark: #1F2937;
    --blue: #3882F6;
    --grey: #E5E7EB;
    --white: #F9FAF8;
    --black: #1F2937;
}

body {
    align-items: center;
}

.container {
    display: flex;
    color: var(--black);
    font-family: Roboto;
    margin: 25px;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    gap: 20px;
}

.catalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.catalog button {
    text-transform: uppercase;
}

#grid-container {
    display: flex;
    flex-direction: column;
}

#grid-container .row {
    display: flex;
}

#grid-container .cell {
    width: 10px;
    height: 10px;
}