:root {
    --dark: #1F2937;
    --blue: #3882F6;
    --grey: #E5E7EB;
    --white: #F9FAF8;
    --black: #1F2937;
}

body {
    align-items: center;
}

.container {
    display: flex;
    color: var(--black);
    font-family: Roboto;
    margin: 25px;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons button {
    text-transform: uppercase;
}