:root {
    --black: #1F2937;
    --white: #F9FAF8;
    --grey: #e2e8f0;
    --dark-grey: #636363;
    --blue: #3882F6;
    --yellow: #f0b42a;
}

html {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    font-family: "Roboto", sans-serif;
    min-height: 100dvh;
    margin: 0;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

.main-header {
    background-color: var(--dark-grey);
    width: 100%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
}

#content {
    display: flex;
    padding: 30px;
}

.card {
    padding: 20px;
}

.card h2 {
    font-size: 3rem;
    margin: 0;
    text-transform: uppercase;
}

.image-wrapper {
    overflow: hidden;
}

section {
    flex: 1;
}

/* HOME SECTION */
section.home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content minmax(auto, 550px);
    gap: 20px;
}

.home .card:first-child {
    vertical-align: middle;
    grid-column: 1 / 3;
}

.card.main {
    background-image: url("./imgs/main-hero.jpg");
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    align-content: center;
}

.card.image {
    height: 100%;
    padding: 0;
}

/* FOOD MENU */
.food-menu {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 500px));
}

.food-menu .card {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.food-menu .card h2 {
    font-size: 2rem;
}

/* FOOTER */
footer {
    text-align: center;
}